<div class="container show-container">
  <div data-controller="toggle">
    <div data-toggle-target='debt'>
      <div class="first-message">
        <h2 class="fw-bold">Hello, <%= @debt.name %>!</h2>
        <p>Let's get better understanding of your debt and find right option for you !</p>
      </div>

      <div class="row d-flex justify-content-center pc-info-cards">
        <div class="col-2 pc-info-card align-items-center">
          <i class="fa-solid fa-piggy-bank fa-2x mb-2" style="color: #68c2e8;"></i>
          <div class="d-flex">
            <p class="pc-item-name fs-6">Original Principal</p>
            <div class="original_principal mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
          </div>
          <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@debt.original_principal, precision:0, unit:"¥") %></p>
        </div>

        <div class="col-2 pc-info-card align-items-center">
          <i class="fa-solid fa-scale-balanced fa-2x mb-2" style="color: #8fd6c8;"></i>
          <div class="d-flex">
            <p class="pc-item-name fs-6">Remaining Principal</p>
            <div class="remaining_principal" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
          </div>
          <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@debt.remaining_principal, precision:0, unit:"¥") %></p>
        </div>

        <div class="col-2 pc-info-card align-items-center">
          <i class="fa-solid fa-pen-to-square fa-2x mb-2" style="color: #e6a98e;"></i>
          <div class="d-flex">
            <p class="pc-item-name fs-6">Total Payment Amount</p>
            <div class="total_payment_amount" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
          </div>
          <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@payment_options[3].total_monthly_payment, precision:0, unit:"¥") %></p>
        </div>

        <div class="col-2 pc-info-card align-items-center">
          <i class="fa-solid fa-percent fa-2x mb-2" style="color: #d26856;"></i>
          <div class="d-flex">
            <p class="pc-item-name fs-6">Interest Amount</p>
            <div class="insterest_amount" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
          </div>
          <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@payment_options[3].total_interest_amount, precision:0, unit:"¥") %></p>
        </div>

        <div class="col-2 pc-info-card align-items-center">
          <i class="fa-regular fa-calendar-check fa-2x mb-2" style="color: #5a79af;"></i>
          <div class="d-flex">
            <p class="pc-item-name fs-6">Monthly Principal</p>
            <div class="monthly_principal" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
          </div>
          <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@payment_options[3].monthly_payment_principal, precision:0, unit:"¥") %></p>
        </div>

        <div class="col-2 pc-info-card align-items-center">
          <i class="fa-regular fa-calendar-days fa-2x mb-2" style="color: #ff2e2e;"></i>
          <div class="d-flex">
            <p class="pc-item-name fs-6">Final Due Date</p>
            <div class="final_due_date" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
          </div>
          <p class="pc-item-data fs-5 fw-bold"><%= @payment_options[3].final_payment_date %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-4 pc-chart-sumarry">
          <i class="fa-solid fa-piggy-bank fa-2x mb-2" style="color: #68c2e8;"></i>
          <p class="fs-5">Points you need to understand about debt</p>
            <ul class="">
              <li>You borrowed <%= number_to_currency(@debt.original_principal, precision: 0, unit:"¥") %>. you will end up paying <%= number_to_currency(@payment_options[3].total_monthly_payment, precision:0, unit:"¥") %> with this plan.</li>
              <li>It means you will be paying <%= number_to_currency(@payment_options[3].total_monthly_payment - @debt.original_principal, precision:0, unit:"¥") %> as extra.</li>
              <li>Expected date you finish payoff is <%= @payment_options[3].final_payment_date %>.</li>
              <%# <li>Why? this huge? Because the interest amount is calculated every month based on your remaining principal. Meaning paying too much interest.</li> %>
            </ul>
        </div>
        <div class="col-4 pc-chart-balance d-flex align-items-center">
          <%= column_chart @data_total, colors: ["#78C1F3","#F94949"], title: "Expected Amount for Principal and Interest", class: "d-block w-90 shadow-sm p-3 mb-1 rounded", stacked:true%>
        </div>
        <div class="col-4 pc-chart-breakdown d-flex align-items-center">
          <%= column_chart @data_all, colors: ["#78C1F3","#F94949"], title: "Changes of payment amount", class: "d-block w-90 shadow-sm p-3 mb-1 rounded", stacked:true%>
        </div>
      </div>
    </div>

    <div class="d-none" data-toggle-target="plans">
      <div class="first-message">
        <h2 class="fw-bold">You are about to make a start to say good-bye to your debt, <%= @debt.name %>!</h2>
        <p>We prepare 3 plans to payoff your debt! Choose the one you like!</p>
      </div>

      <div class="row">
        <div class="col-12 pc-chart-compare">
          <%= column_chart @data_compare, colors: ["#78C1F3","#F94949"], title: "Comparison of Plans", stacked:true %>
        </div>

        <div class="col-4">
          <div class="pc-mini-select-card">
            <h4 class="fw-bold">Minimum Plan</h4>
            <p>You pay less for monthly payment, but takes longer and end up paying a lot.</p>
            <%# <p class="m-0">Total payment is <%= number_to_currency(@payment_options[0].total_monthly_payment, precision:0)</p> %>
            <%# <p class="m-0">Pay off at <%= @payment_options[0].final_payment_date %></p>
            <p class="m-0">Comparing with your original plan, you can save up <%= number_to_currency((@payment_options[3].total_monthly_payment - @payment_options[0].total_monthly_payment).abs, precision:0, unit: "¥") %>
            <div class="d-flex align-items-end">
              <div class="btn btn-plan-detail" data-action='click->toggle#show_mini'>Detail</div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="pc-standard-select-card">
            <h4 class="fw-bold">Standard Plan</h4>
            <p>You make moderate monthly payments and takes a moderate timeline to pay it off.</p>
            <%# <p class="m-0">Total payment is <%= @payment_options[1].total_monthly_payment %></p>
          <%# <p class="m-0">Pay off at <%= @payment_options[1].final_payment_date %></p>
            <p class="m-0">Comparing with the original plan, you can save up <%= number_to_currency((@payment_options[3].total_monthly_payment - @payment_options[1].total_monthly_payment).abs, precision:0, unit: "¥") %></p>
            <div class="d-flex align-items-end">
              <div class="btn btn-plan-detail" data-action='click->toggle#show_stand'>Detail</div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="pc-premium-select-card">
            <h4 class="fw-bold">Premium Plan</h4>
            <p>Your monthly payments are big, but takes a shorter timeline.</p>
            <%# <p class="m-0">Total payment is <%= @payment_options[2].total_monthly_payment</p> %>
            <%# <p class="m-0">Pay off at <%= @payment_options[2].final_payment_date</p> %>
            <p class="m-0">Comparing with the original plan, you can save up <%= number_to_currency((@payment_options[3].total_monthly_payment - @payment_options[2].total_monthly_payment).abs, precision:0, unit:"¥") %></p>
            <div class="d-flex align-items-end">
              <div class="btn btn-plan-detail" data-action='click->toggle#show_super'>Detail</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="detail-plan-card-mini d-none" data-toggle-target='mini'>
          <h5 class="fw-bold">Minimum Plan</h5>
          <p>You pay less for monthly payment, but takes longer.
            End up paying relatively big.
            You borrowed <%= number_to_currency(@debt.original_principal, precision:0) %>, then you will end up paying <%= number_to_currency(@payment_options[0].total_monthly_payment, precision:0) %> with this plan. It means you are paying <%= number_to_currency(@payment_options[0].total_monthly_payment - @debt.original_principal, precision:0) %> as extra </p>

          <div class="row d-flex justify-content-center pc-info-cards">

            <div class="col-2 pc-info-card align-items-center">
              <i class="fa-solid fa-pen-to-square fa-2x mb-2" style="color: #e6a98e;"></i>
              <div class="d-flex">
                <p class="pc-item-name fs-6">Total Payment Amount</p>
                <div class="total_payment_amount mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
              </div>
              <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@payment_options[0].total_monthly_payment, precision:0, unit:"¥") %></p>
            </div>

            <div class="col-2 pc-info-card align-items-center">
              <i class="fa-solid fa-percent fa-2x mb-2" style="color: #d26856;"></i>
              <div class="d-flex">
                <p class="pc-item-name fs-6">Interest Amount</p>
                <div class="insterest_amount mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
              </div>
              <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@payment_options[0].total_interest_amount, precision:0, unit:"¥") %></p>
            </div>

            <div class="col-2 pc-info-card align-items-center">
              <i class="fa-regular fa-calendar-check fa-2x mb-2" style="color: #5a79af;"></i>
              <div class="d-flex">
                <p class="pc-item-name fs-6">Monthly Principal</p>
                <div class="monthly_principal mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
              </div>
              <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@payment_options[0].monthly_payment_principal, precision:0, unit:"¥")%></p>
            </div>

            <div class="col-2 pc-info-card align-items-center">
                <i class="fa-regular fa-calendar-days fa-2x mb-2" style="color: #ff2e2e;"></i>
              <div class="d-flex">
                <p class="pc-item-name fs-6">Expected Finish Date</p>
                <div class="final_due_date mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
              </div>
              <p class="pc-item-data fs-5 fw-bold"><%= @payment_options[0].final_payment_date %></p>
            </div>

            <%= link_to "Select this plan", payment_options_choose_path(@payment_options[0]), method: :put, class: "btn btn-select mt-3 text-center" %>
          </div>
        </div>
      </div>


      <div class="col-12">
        <div class="detail-plan-card-standard d-none" data-toggle-target='stand'>
          <h5 class="fw-bold">Standard Plan</h5>
          <p>You make moderate monthly payments and takes mederate to payoff. End up paying relatively normal.
        You borrowed <%= number_to_currency(@debt.original_principal, precision:0, unit:"¥") %>, then you will end up paying <%= number_to_currency(@payment_options[1].total_monthly_payment, precision:0, unit:"¥") %> with this plan. It means you are paying <%= number_to_currency(@payment_options[1].total_monthly_payment - @debt.original_principal, precision:0) %> as extra </p>

          <div class="row d-flex justify-content-center pc-info-cards">

            <div class="col-2 pc-info-card align-items-center">
              <i class="fa-solid fa-pen-to-square fa-2x mb-2" style="color: #e6a98e;"></i>
              <div class="d-flex">
                <p class="pc-item-name fs-6">Total Payment Amount</p>
                <div class="total_payment_amount mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
              </div>
              <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@payment_options[1].total_monthly_payment, precision:0, unit:"¥") %></p>
            </div>

            <div class="col-2 pc-info-card align-items-center">
              <i class="fa-solid fa-percent fa-2x mb-2" style="color: #d26856;"></i>
              <div class="d-flex">
                <p class="pc-item-name fs-6">Interest Amount</p>
                <div class="insterest_amount mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
              </div>
              <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@payment_options[1].total_interest_amount, precision:0, unit:"¥") %></p>
            </div>

            <div class="col-2 pc-info-card align-items-center">
               <i class="fa-regular fa-calendar-check fa-2x mb-2" style="color: #5a79af;"></i>
              <div class="d-flex">
                <p class="pc-item-name fs-6">Monthly Principal</p>
                <div class="monthly_principal mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
              </div>
              <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@payment_options[1].monthly_payment_principal, precision:0, unit:"¥")%></p>
            </div>

            <div class="col-2 pc-info-card align-items-center">
              <i class="fa-regular fa-calendar-days fa-2x mb-2" style="color: #ff2e2e;"></i>
              <div class="d-flex">
                <p class="pc-item-name fs-6">Expected Finish Date</p>
                <div class="final_due_date mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
              </div>
              <p class="pc-item-data fs-5 fw-bold"><%= @payment_options[1].final_payment_date %></p>
            </div>

            <%= link_to "Select this plan", payment_options_choose_path(@payment_options[1]), method: :put, class: "btn btn-select mt-3 text-center" %>
          </div>
        </div>
      </div>

            <div class="col-12">
        <div class="detail-plan-card-premium d-none" data-toggle-target='super'>
          <h5 class="fw-bold">Premium Plan</h5>
          <p>You make big monthly payments, but takes shorter.
          End up paying a relatively small amount.
          You borrowed <%= number_to_currency(@debt.original_principal, precision:0) %> $, then you will end up paying <%= number_to_currency(@payment_options[2].total_monthly_payment, precision:0) %> $ with this plan. It means you are paying <%= number_to_currency(@payment_options[2].total_monthly_payment - @debt.original_principal, precision:0) %> as extra </p>

          <div class="row d-flex justify-content-center pc-info-cards">

            <div class="col-2 pc-info-card align-items-center">
                            <i class="fa-solid fa-pen-to-square fa-2x mb-2" style="color: #e6a98e;"></i>
              <div class="d-flex">
                <p class="pc-item-name fs-6">Total Payment Amount</p>
                <div class="total_payment_amount mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
              </div>
              <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@payment_options[2].total_monthly_payment, precision:0, unit:"¥") %></p>
            </div>

            <div class="col-2 pc-info-card align-items-center">
              <i class="fa-solid fa-percent fa-2x mb-2" style="color: #d26856;"></i>
              <div class="d-flex">
                <p class="pc-item-name fs-6">Interest Amount</p>
                <div class="insterest_amount mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
              </div>
              <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@payment_options[2].total_interest_amount, precision:0, unit:"¥") %></p>
            </div>

            <div class="col-2 pc-info-card align-items-center">
              <i class="fa-regular fa-calendar-check fa-2x mb-2" style="color: #5a79af;"></i>
              <div class="d-flex">
                <p class="pc-item-name fs-6">Monthly Principal</p>
                <div class="monthly_principal mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
              </div>
              <p class="pc-item-data fs-5 fw-bold"><%= number_to_currency(@payment_options[2].monthly_payment_principal, precision:0, unit:"¥")%></p>
            </div>

            <div class="col-2 pc-info-card align-items-center">
             <i class="fa-regular fa-calendar-days fa-2x mb-2" style="color: #ff2e2e;"></i>
              <div class="d-flex">
                <p class="pc-item-name fs-6">Expected Finish Date</p>
                <div class="final_due_date mb-0" data-controller="popover"><i class="fa-regular fa-circle-question" style="color: #919191;"></i></div>
              </div>
              <p class="pc-item-data fs-5 fw-bold"><%= @payment_options[2].final_payment_date %></p>
            </div>

            <%= link_to "Select this plan", payment_options_choose_path(@payment_options[2]), method: :put, class: "btn btn-select mt-3 text-center" %>
          </div>
        </div>
      </div>


    </div>

    <div class="container text-center mt-5" data-toggle-target='goplan'>
      <p class="fs-4">Do you want to choose other payment plans to pay off quicker with less amount?</p>
      <div class="btn btn-select" data-action='click->toggle#page_change'>Select Plans</div>
    </div>
    <div class="container text-center mt-5 d-none" data-toggle-target='godebt'>
      <p class="fs-4">Do you want to understand your debt more?</p>
      <div class="btn btn-select" data-action='click->toggle#page_change'>Review Debt Breakdown</div>
    </div>
  </div>
</div>
