<div class="container mb-4">
  <div class="row">
    <div class="col-xs-12">
      <div class="data_all">
        <%= column_chart @data_all, colors: ["#78C1F3","#FFC93C"], title: "Changes on monthly payment", stacked:true%>
      </div>
    </div>
  </div>

  <%# pie chart-- %>
  <%= pie_chart @progress_data, colors: ["#78C1F3","#FFC93C"], donut: true %>

  <%# column chart for total-- %>
  <%= column_chart @data_total, colors: ["#78C1F3","#FFC93C"], stacked:true%>

<%# <%=  line_chart @debt.payment_options.first.group_by_day_of_week(:created_at, format: "%a").count%>
<%# <%= line_chart({"2021-01-01" => 2, "2021-01-02" => 3}) %>
<%# <div class="original_payment"> %>
<%# <% column_chart @original_payments, stacked: true %>
<%# </div> %>

<%# <div class="original_interest"> %>

<%# <% column_chart @monthly_interests %>

<%# </div> %>

</div>

<%# try to add bar chart %>
<%# <%= bar_chart Payment.group(:next_payment_amount).next_payment_amount %>

<br>

<div class="container breakdown shadow p-3 mb-5 bg-body rounded">
  <h2>Debt Information</h2>
  <%# grafic here, depends on how granuality we show, we can get amount and date of payment from Payment data %>
  <%# @payment_options[0].payment.count.times do |num|
    @payment_options[0].payment[num].each do || %>


  <div class="info shadow-sm p-3 mb-1 bg-body rounded">
    <h4>Remaining balance of principal</h4>
    <%= @debt.remaining_principal %>
  </div>

  <div class="info shadow-sm p-3 mb-1 bg-body rounded">
    <h4>Total expected amount of payment at this pace</h4>
    <%= @payment_options[3].total_monthly_payment %>
  </div>

    <div class="info shadow-sm p-3 mb-1 bg-body rounded">
    <h4>Monthly payment amount for principal</h4>
    <%= @payment_options[3].monthly_payment_principal %>
  </div>

  <div class="info shadow-sm p-3 mb-1 bg-body rounded">
    <h4>How much you pay for interest</h4>
    <%= @payment_options[3].total_interest_amount %>
  </div>

  <div class="info shadow-sm p-3 mb-1 bg-body rounded">
    <h4>Expected date you finish payment</h4>
    <%= @payment_options[3].final_payment_date %>
  </div>

</div>

<div class="container mb-4">
  <%# chat gpt thing here %>
 <%# <%= @response["choices"][0]["message"]["content"] %>
</div>


<div class="container plan shadow p-3 mb-5 bg-body rounded mb-4">
<h2>Choose your plan!</h2>
<div class="accordion" id="accordionExample">

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Plan 1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Merit</h4>
          <p>You can pay minumun for month, so you can use your money for other things.</p>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Demerit</h4>
          <p>It takes longer and payment amount is likely to bigger than other plan.</p>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Monthly payment amount for principal</h4>
          <%= @payment_options[0].monthly_payment_principal %>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Total expected amount of payment</h4>
          <%= @payment_options[0].total_monthly_payment %>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>How much you pay for interest</h4>
          <%= @payment_options[0].total_interest_amount %>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Expected date you finish payment</h4>
          <%= @payment_options[0].final_payment_date %>
        </div>
        <%= link_to "Select", payment_options_choose_path(@payment_options[0]), method: :put, class: "btn btn-primary mt-3" %>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Plan 2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Merit</h4>
          <p>You can pay moderate for month, so you can use your money for other things.</p>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Demerit</h4>
          <p>It takes a bit longer and payment amount is likely to bigger than plan 1.</p>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Monthly payment amount for principal</h4>
          <%= @payment_options[1].monthly_payment_principal %>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Total expected amount of payment</h4>
          <%= @payment_options[1].total_monthly_payment %>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>How much you pay for interest</h4>
          <%= @payment_options[1].total_interest_amount %>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Expected date you finish payment</h4>
          <%= @payment_options[1].final_payment_date %>
        </div>
        <%= link_to "Select", payment_options_choose_path(@payment_options[1]), method: :put, class: "btn btn-primary mt-3" %>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Plan 3 - <strong>Advised Option</strong>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Merit</h4>
          <p>You can pay off faster and you pay less than other plan, so you can save your money for other things.</p>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Demerit</h4>
          <p>Monthly payment amount is bigger than other plan. so you need to push yourself</p>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Monthly payment amount for principal</h4>
          <%= @payment_options[2].monthly_payment_principal %>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
            <h4>Total expected amount of payment</h4>
            <%= @payment_options[2].total_monthly_payment %>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
            <h4>How much you pay for interest</h4>
            <%= @payment_options[2].total_interest_amount %>
        </div>
        <div class="info shadow-sm p-3 mb-1 bg-body rounded">
          <h4>Expected date you finish payment</h4>
          <%= @payment_options[2].final_payment_date %>
        </div>
        <%= link_to "Select", payment_options_choose_path(@payment_options[2]), method: :put, class: "btn btn-primary mt-3" %>
      </div>
    </div>
  </div>
</div>
</div>
