<div id="particles-js" class="transparent" data-controller="confetti"></div>
<div id="wrapper">

<div class="container">
  <div class="container first_view">
    <h2>Hey, how are you?? <%= @debt.name %></h2>
  </div>


<%# <div id="wrapper">
この中にコンテンツが入ります。
<!--/wrapper--></div> %>

<div class="container payment mt-3">
  <% @selected_payment_options.each do |option| %>
  <div class="container schedule mb-5 shadow-sm p-3 mt-3 debt-breakdown rounded">
    <h5>Your Next Payment Due Date</h5>
    <% option.payments.each do |payment| %>
      <% if payment.status === 1 %>
        <h3><%= payment.next_paying_date %></h3>
      <% end %>
    <% end %>
    <div class="confirm mt-3">
    <h6>Did you pay this month???</h6>
    <%= link_to "YES!!", payment_options_paid_path(payment: true), class: "btn btn-action mt-3" %>
  </div>
  </div>
  <% end %>
</div>


<% @selected_payment_options.each do |option| %>
  <div class="container mb-5 shadow-sm p-3 mb-1 rounded ">
    <h3>Debt Breakdown with your plan</h3>
        <h6 class="mt-2">Summary</h6>
        <ul>
          <li>You borrowed <%= @debt.original_principal %> $, then you will end up paying <%= option.total_monthly_payment %> $ with this plan.</li>
          <li> It means you are paying <%= option.total_monthly_payment - @debt.original_principal %> $ as extra.</li>
          <%# <li>Why? this huge? Because the interest amount is calculated every month based on your remaining principal. Meaning paying too much interest.</li> %>
        </ul>
    <div class="container p-3">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="50000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= column_chart @data_all, colors: ["#78C1F3","#FFC93C"], title: "Changes on monthly payment", class: "d-block w-90 shadow-sm p-3 mb-1 rounded", stacked:true%>
          </div>
          <div class="carousel-item">
            <%= pie_chart @progress_data, colors: ["#78C1F3","#FFC93C"], title: "Progress of Payment", class: "d-block w-90 shadow-sm p-3 mb-1 rounded",donut: true %>
            <h3><%= (option.debt.remaining_principal/@debt.original_principal)*100 %> % of your progress</h3>
          </div>
          <%# <div class="carousel-item">
            <%= column_chart @data_total, colors: ["#78C1F3","#FFC93C"], title: "Expected Amount for Principal and Interest", class: "d-block w-90 shadow-sm p-3 mb-1 rounded", stacked:true%>
          <%# </div> %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

    <div class="containr">
      <h6 class="mt-4">Details</h6>
      <div class="row">
        <div class="col-12">
          <div class="info-card shadow-sm p-3 mb-2 rounded">
            <p>Original Principal</p>
            <%= @debt.original_principal %>
          </div>
        </div>
        <div class="col-12">
          <div class="info-card shadow-sm p-3 mb-2 rounded">
            <p>Remaining Balance</p>
            <%= option.debt.remaining_principal %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="info-card shadow-sm p-3 mb-2 rounded">
            <p>Expected Total Amount</p>
            <%= option.total_monthly_payment %>
          </div>
        </div>
        <div class="col-12">
          <div class="info-card shadow-sm p-3 mb-2 rounded">
            <p>Expected Interest Amount</p>
            <%= option.total_interest_amount %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="info-card shadow-sm p-3 mb-2 rounded">
            <p>Monthly Principal</p>
            <%= option.monthly_payment_principal %>
          </div>
        </div>
        <div class="col-12">
          <div class="info-card shadow-sm p-3 mb-2 rounded">
            <p>Expected Finish Date</p>
            <%= option.final_payment_date %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%# <div class="confirm">
    <h3>Did you pay this month???</h3>
    <%= link_to "Done", payment_options_paid_path(payment: true), class: "btn btn-primary mt-3" %>
  <%# </div> %>

</div>
</div>
