<%# added a container class to wrap up the complete page.  %>
<div class="container fv-back-color">
    <div class="row">
      <div class="col-12 p-2 mb-3">
        <h1 class="main-word mt-2">EnDebt...Outsmart your Credit Card Debt with a Swipe of a Finger.</h1>
        <p>Your Portable Credit Card Debt Payment Platform</p>
      </div>
        <%= image_tag 'payapp.svg'%>
      <%# <div class="col-12">
        <div class="main_logo">
          <%= image_tag 'endebt_logo.svg'%>
        <%# </div> %>
      <%# </div> %>
      <% if user_signed_in? %>
        <div class="d-flex justify-content-center mt-4 mb-2">
          <%= link_to "Add Your Debt", new_debt_path, class: "btn btn-action m-3" %>
        </div>
      <% end %>
    </div>
</div>
  <div class="container second-section">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="col-12">
          <h2 class="text-center m-4">Key Points to Pay off Your Debt Quickly and Smartly</h2>
          <div class="point">
            <h4 class="text-center">Understand Your Debt</h4>
            <i class="fa-regular fa-lightbulb fa-3x d-flex justify-content-center" style="color: #08815d;"></i>
            <p class="text-center">Usually Credit Card Debt is difficult to Fully Understand and likely to include Hidden Charges</p>
          </div>
          <div class="point">
            <h4 class="text-center mt-4">Pay It Off Quickly</h4>
            <i class="fa-solid fa-bolt fa-3x d-flex justify-content-center" style="color: #f2b969;"></i>
            <p class="text-center">Usually the Quicker You Pay, the Less You Pay at the End, as Interest Payments are Reduced</p>
          </div>
          <div class="point">
            <h4 class="text-center mt-4">Payment Consistency</h4>
            <i class="fa-solid fa-handshake fa-3x d-flex justify-content-center" style="color: #2d8fb9;"></i>
            <p class="text-center">It is all about Payment Consistency...We will be here to Support You!</p>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="d-flex justify-content-center mt-4 mb-2">
          <%= link_to "Add Your Debt", new_debt_path, class: "btn btn-action m-3" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container third-section pb-5">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="col-12">
          <h2 class="text-center m-4">Let's Do It in The EnDebt Way.</h2>
          <div class="step">
            <h4 class="text-center">1. Input your Debt Profile</h4>
            <p class="text-center">Enter your debt details, income and expenses information</p>
          </div>
          <div class="point">
            <h4 class="text-center mt-4">2. Understand Your Debt</h4>
            <p class="text-center">Visualize Your Debt Information and Understand It</p>
          </div>
          <div class="point">
            <h4 class="text-center mt-4">3. Select a Repayment Plan</h4>
            <p class="text-center">Visualize Your Selected Plan and Follow It</p>
          </div>
        </div>
      </div>
      <%= image_tag 'happy1.svg'%>
    </div>
      <% if user_signed_in? %>
        <div class="d-flex justify-content-center mt-4 mb-5">
          <%= link_to "Add Your Debt", new_debt_path, class: "btn btn-action m-3" %>
        </div>
      <% end %>
  </div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fa-regular fa-registered"></i> All Rights Reserved
  </div>
</div>
